.wrap
    position relative
    width 100%
    text-align center
    margin 1.25rem 0
.wrap::after
    content ''
    display block
    clear both
.wrap-part
    box-sizing border-box
    width 50%
    padding 0 0.625rem
    float left
.parent
    height 25rem
    overflow auto
    white-space nowrap
.child
    display inline-block
    width 100%
    height 25rem
    line-height 25rem
    opacity 0.5
.operation-area
  li
    text-align left 
.demo-title
  font-size 1.25rem

.content-text
  font-size 6.25rem