.wrap
    width 100%
    text-align center
    margin 20px 0
.wrap::after
    content ''
    display block
    clear both
.wrap-part
    box-sizing border-box
    width 50%
    padding 0 10px
    float left
.parent
    height 400px
    overflow auto
    white-space nowrap
.child
    display inline-block
    width 100%
    height 400px
    line-height 400px
    opacity 0.5
.operation-area
  li
    text-align left 
.demo-title
  font-size 20px