.wrap
    position relative
    width 100%
    text-align center
    margin 1.25rem 0
.wrap::after
    content ''
    display block
    clear both
.wrap-part
    box-sizing border-box
    width 50%
    padding 0 0.625rem
    float left
 
.operation-area 
    text-align left 
.demo-title
  font-size 1.25rem

.content-text
  font-size 6.25rem

[id*=cnzz_stat]
    display none!important

.demo-page
   .content
     width 100%!important;
     max-width:100%;
     padding-right 30px;
     padding-right 30px;
     box-sizing: border-box;
     padding 3.6rem 0 0 0;
     padding-bottom: 0 !important;;
     padding-top: 3rem !important;;
     max-width 100% !important;
    .page-edit
        display none;
    .page
        padding-bottom 0;

    
 @import '~vuescroll-carousel/dist/index.css';
